docs/NodeRed/flows.json
[
    {
        "id": "74beb7b1a1d6cbdf",
        "type": "tab",
        "label": "Save SensorData",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "641e951279a6bf40",
        "type": "mqtt in",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "d661ee886e32b95f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 80,
        "wires": [
            [
                "a0b9d0d363b9d52b"
            ]
        ]
    },
    {
        "id": "a0b9d0d363b9d52b",
        "type": "debug",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "4cbf7cb6b1fd07c1",
        "type": "inject",
        "z": "74beb7b1a1d6cbdf",
        "name": "Clear SDcard",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":1}",
        "payloadType": "json",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "27d1a77326819d62",
                "fd8994524cdb6284"
            ]
        ]
    },
    {
        "id": "27d1a77326819d62",
        "type": "mqtt out",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "topic": "sensors/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d661ee886e32b95f",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "fd8994524cdb6284",
        "type": "debug",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 680,
        "wires": []
    },
    {
        "id": "9180f263e0dbe635",
        "type": "inject",
        "z": "74beb7b1a1d6cbdf",
        "name": "Reboot Sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":2}",
        "payloadType": "json",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "27d1a77326819d62",
                "fd8994524cdb6284"
            ]
        ]
    },
    {
        "id": "85c292c68d091365",
        "type": "inject",
        "z": "74beb7b1a1d6cbdf",
        "name": "Get Sensor Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":3}",
        "payloadType": "json",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "27d1a77326819d62",
                "fd8994524cdb6284"
            ]
        ]
    },
    {
        "id": "5f755cc85b8002cb",
        "type": "mqtt in",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "topic": "sensors/status",
        "qos": "2",
        "datatype": "utf8",
        "broker": "d661ee886e32b95f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "289dc8606208b6c4"
            ]
        ]
    },
    {
        "id": "289dc8606208b6c4",
        "type": "debug",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 800,
        "wires": []
    },
    {
        "id": "8e22c6a27154f551",
        "type": "comment",
        "z": "74beb7b1a1d6cbdf",
        "name": "Demo Node for all Messages",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "c452a3c34ffc9ae4",
        "type": "comment",
        "z": "74beb7b1a1d6cbdf",
        "name": "Change filepath to correct sqlite file here...",
        "info": "",
        "x": 740,
        "y": 380,
        "wires": []
    },
    {
        "id": "f03b0f2682c2ef84",
        "type": "mqtt in",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "topic": "sensors/enc",
        "qos": "2",
        "datatype": "utf8",
        "broker": "d661ee886e32b95f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "e36377b55c584352"
            ]
        ]
    },
    {
        "id": "978e5c94f7645806",
        "type": "debug",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "e36377b55c584352",
        "type": "base64",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "action": "b64",
        "property": "payload",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "c91f45c302c6443b",
                "978e5c94f7645806",
                "c41f1d9dfc083c9e"
            ]
        ]
    },
    {
        "id": "c91f45c302c6443b",
        "type": "csv",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "b8c0a70e77b97d45",
                "0a0f8b0236afd020",
                "48f2c83c974175f6"
            ]
        ]
    },
    {
        "id": "d0293ffa0caae510",
        "type": "comment",
        "z": "74beb7b1a1d6cbdf",
        "name": "ESP32 Version",
        "info": "",
        "x": 100,
        "y": 180,
        "wires": []
    },
    {
        "id": "c41f1d9dfc083c9e",
        "type": "file",
        "z": "74beb7b1a1d6cbdf",
        "name": "Sensordata",
        "filename": "D:\\Development\\GIT\\FunkySense\\docs\\sensordata.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "c1c3ce9366a2229c"
            ]
        ]
    },
    {
        "id": "c1c3ce9366a2229c",
        "type": "debug",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "b8c0a70e77b97d45",
        "type": "debug",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "48f2c83c974175f6",
        "type": "template",
        "z": "74beb7b1a1d6cbdf",
        "name": "template city_001",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO nonamecity (\n   time,\n   sensorname,\n   city,\n   temp,\n   hum,\n   press,\n   ir,\n   full,\n   visible,\n   lux,\n   c2h5oh,\n   voc,\n   co,\n   no2,\n   uv,\n   rssi\n\n)\nVALUES (\n   \"{{{payload.col1}}}\",\n   \"{{payload.col2}}\",\n   \"{{payload.col3}}\",\n   \"{{payload.col4}}\",\n   \"{{payload.col5}}\",\n   \"{{payload.col6}}\",\n   \"{{payload.col7}}\",\n   \"{{payload.col8}}\",\n   \"{{payload.col9}}\",\n   \"{{payload.col10}}\",\n   \"{{payload.col11}}\",\n   \"{{payload.col12}}\",\n   \"{{payload.col13}}\",\n   \"{{payload.col14}}\",\n   \"{{payload.col15}}\",\n   \"{{payload.col16}}\"\n);",
        "output": "str",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "4e8c1d5c3ab8c94c",
                "337d2da807f8d99b"
            ]
        ]
    },
    {
        "id": "4e8c1d5c3ab8c94c",
        "type": "debug",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "337d2da807f8d99b",
        "type": "sqlite",
        "z": "74beb7b1a1d6cbdf",
        "mydb": "98a3f5798948f0b7",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "city_001--citydata",
        "x": 670,
        "y": 420,
        "wires": [
            [
                "935384f9ae1f96af"
            ]
        ]
    },
    {
        "id": "935384f9ae1f96af",
        "type": "debug",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "c2ad336f4d97ee34",
        "type": "inject",
        "z": "74beb7b1a1d6cbdf",
        "name": "Sync Time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":4}",
        "payloadType": "json",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "4d209068dc93cf04"
            ]
        ]
    },
    {
        "id": "2a19a0ae13a96a69",
        "type": "debug",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "4d209068dc93cf04",
        "type": "function",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "func": "var d=new Date();\n\nvar day=d.getDate()  //day as a number 0 -31\nvar month=d.getMonth() // month as a number 0-11\nvar year=d.getFullYear() //year as a four digit number (yyyy)\nvar hours=d.getHours() //the hour (0-23)\nvar minutes=d.getMinutes() //-the minute (0-59)\nvar seconds=d.getSeconds() //-the seconds (0-59)\n\n\n\n//msg.payload.time = (day)+\"/\"+(month+1)+\"/\"+year+\" \"+(hours)+\":\"+minutes+\":\"+seconds;\nmsg.payload.time = seconds+\",\"+minutes+\",\"+hours+\",\"+day+\",\"+(month+1)+\",\"+year;\nreturn msg;\n\n// 5/10/2022 14:44:55",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 740,
        "wires": [
            [
                "2a19a0ae13a96a69",
                "27d1a77326819d62"
            ]
        ]
    },
    {
        "id": "5716d35940e5425a",
        "type": "serial in",
        "z": "74beb7b1a1d6cbdf",
        "d": true,
        "name": "",
        "serial": "f4ab36ef5e14c0db",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "afc9eab999922073"
            ]
        ]
    },
    {
        "id": "afc9eab999922073",
        "type": "debug",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 900,
        "wires": []
    },
    {
        "id": "0a0f8b0236afd020",
        "type": "ui_chart",
        "z": "74beb7b1a1d6cbdf",
        "name": "",
        "group": "9e0273eee7bac59b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d661ee886e32b95f",
        "type": "mqtt-broker",
        "name": "Makeraustria",
        "broker": "makeradmin.ddns.net",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "98a3f5798948f0b7",
        "type": "sqlitedb",
        "db": "D:\\Development\\GIT\\FunkySense\\sqlite\\city_001.sqlite3",
        "mode": "RWC"
    },
    {
        "id": "f4ab36ef5e14c0db",
        "type": "serial-port",
        "serialport": "COM6",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "9e0273eee7bac59b",
        "type": "ui_group",
        "name": "anna",
        "tab": "9cacaa07eebbb63f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9cacaa07eebbb63f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]