docs/NodeRed/flows.json
[
    {
        "id": "65e4cc568d352a50",
        "type": "tab",
        "label": "Save SensorData",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0cd72863206de857",
        "type": "mqtt in",
        "z": "65e4cc568d352a50",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "b28dd0f42a9ff1d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 80,
        "wires": [
            [
                "c4f47b9dec1d5c52"
            ]
        ]
    },
    {
        "id": "c4f47b9dec1d5c52",
        "type": "debug",
        "z": "65e4cc568d352a50",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "e7bee8bb78aee3ae",
        "type": "inject",
        "z": "65e4cc568d352a50",
        "name": "Clear SDcard",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":1}",
        "payloadType": "json",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "1623cc1e792ae88f",
                "1f06cfde139f5990"
            ]
        ]
    },
    {
        "id": "1623cc1e792ae88f",
        "type": "mqtt out",
        "z": "65e4cc568d352a50",
        "name": "",
        "topic": "sensors/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b28dd0f42a9ff1d6",
        "x": 410,
        "y": 580,
        "wires": []
    },
    {
        "id": "1f06cfde139f5990",
        "type": "debug",
        "z": "65e4cc568d352a50",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 700,
        "wires": []
    },
    {
        "id": "45415393dc84713b",
        "type": "inject",
        "z": "65e4cc568d352a50",
        "name": "Reboot Sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":2}",
        "payloadType": "json",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "1623cc1e792ae88f",
                "1f06cfde139f5990"
            ]
        ]
    },
    {
        "id": "457ba38ae5fce2fb",
        "type": "inject",
        "z": "65e4cc568d352a50",
        "name": "Get Sensor Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":3}",
        "payloadType": "json",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "1623cc1e792ae88f",
                "1f06cfde139f5990"
            ]
        ]
    },
    {
        "id": "97f795bc88262a08",
        "type": "mqtt in",
        "z": "65e4cc568d352a50",
        "name": "",
        "topic": "sensors/enc",
        "qos": "2",
        "datatype": "utf8",
        "broker": "b28dd0f42a9ff1d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "523728b72cbffcd4",
        "type": "debug",
        "z": "65e4cc568d352a50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "b596fa6417d10564",
        "type": "base64",
        "z": "65e4cc568d352a50",
        "name": "",
        "action": "b64",
        "property": "payload",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "7b5d4d206391419f"
            ]
        ]
    },
    {
        "id": "447c7df195e3c16b",
        "type": "timestamp",
        "z": "65e4cc568d352a50",
        "name": "",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "37b1790ec1efaaad"
            ]
        ]
    },
    {
        "id": "7b5d4d206391419f",
        "type": "csv",
        "z": "65e4cc568d352a50",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "523728b72cbffcd4",
                "447c7df195e3c16b"
            ]
        ]
    },
    {
        "id": "37b1790ec1efaaad",
        "type": "template",
        "z": "65e4cc568d352a50",
        "name": "template city_001",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO nonamecity (\n   sensor,\n   value1,\n   value2,\n   value3,\n   value4,\n   value5,\n   value6,\n   value7,\n   value8,\n   value9,\n   value10,\n   value11,\n   value12,\n   value13,\n   value14,\n   value15,\n   value16,\n   value17,\n   value18,\n   value19,\n   value20,\n   rssi,\n   timestamp\n)\nVALUES (\n   \"{{payload.col1}}\",\n   \"{{payload.col2}}\",\n   \"{{payload.col3}}\",\n   \"{{payload.col4}}\",\n   \"{{payload.col5}}\",\n   \"{{payload.col6}}\",\n   \"{{payload.col7}}\",\n   \"{{payload.col8}}\",\n   \"{{payload.col9}}\",\n   \"{{payload.col10}}\",\n   \"{{payload.col11}}\",\n   \"{{payload.col12}}\",\n   \"{{payload.col13}}\",\n   \"{{payload.col14}}\",\n   \"{{payload.col15}}\",\n   \"{{payload.col16}}\",\n   \"{{payload.col17}}\",\n   \"{{payload.col18}}\",\n   \"{{payload.col19}}\",\n   \"{{payload.col20}}\",\n   \"{{payload.col21}}\",\n   \"{{payload.col22}}\",    \n   \"{{timestamp}}\"\n);",
        "output": "str",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "9395a655b7b2f0ce",
                "38a139d3361c5f50"
            ]
        ]
    },
    {
        "id": "9395a655b7b2f0ce",
        "type": "debug",
        "z": "65e4cc568d352a50",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "38a139d3361c5f50",
        "type": "sqlite",
        "z": "65e4cc568d352a50",
        "mydb": "98a3f5798948f0b7",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "city_001--citydata",
        "x": 750,
        "y": 240,
        "wires": [
            [
                "555d0231dbaec93a"
            ]
        ]
    },
    {
        "id": "555d0231dbaec93a",
        "type": "debug",
        "z": "65e4cc568d352a50",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "991bc418d0c564db",
        "type": "mqtt in",
        "z": "65e4cc568d352a50",
        "name": "",
        "topic": "sensors/status",
        "qos": "2",
        "datatype": "utf8",
        "broker": "b28dd0f42a9ff1d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 780,
        "wires": [
            [
                "b78ace964d15e5b8"
            ]
        ]
    },
    {
        "id": "b78ace964d15e5b8",
        "type": "debug",
        "z": "65e4cc568d352a50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 780,
        "wires": []
    },
    {
        "id": "bb389a0a0bda8064",
        "type": "comment",
        "z": "65e4cc568d352a50",
        "name": "ESP32 Version",
        "info": "",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "68d8364f6dfc46fa",
        "type": "mqtt in",
        "z": "65e4cc568d352a50",
        "name": "",
        "topic": "sensors/plain",
        "qos": "2",
        "datatype": "utf8",
        "broker": "b28dd0f42a9ff1d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 360,
        "wires": [
            [
                "645e76d9d7eabea4"
            ]
        ]
    },
    {
        "id": "a3d3cab2dcaa680b",
        "type": "debug",
        "z": "65e4cc568d352a50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "7b46fa96828a789b",
        "type": "timestamp",
        "z": "65e4cc568d352a50",
        "name": "",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "a29f2a85d6192e5a"
            ]
        ]
    },
    {
        "id": "645e76d9d7eabea4",
        "type": "csv",
        "z": "65e4cc568d352a50",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "a3d3cab2dcaa680b",
                "7b46fa96828a789b"
            ]
        ]
    },
    {
        "id": "a29f2a85d6192e5a",
        "type": "template",
        "z": "65e4cc568d352a50",
        "name": "template city_001",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO nonamecity (\n   sensor,\n   value1,\n   value2,\n   value3,\n   value4,\n   value5,\n   value6,\n   value7,\n   value8,\n   value9,\n   value10,\n   value11,\n   value12,\n   value13,\n   value14,\n   value15,\n   value16,\n   value17,\n   value18,\n   value19,\n   value20,\n   rssi,\n   timestamp\n)\nVALUES (\n   \"{{payload.col1}}\",\n   \"{{payload.col2}}\",\n   \"{{payload.col3}}\",\n   \"{{payload.col4}}\",\n   \"{{payload.col5}}\",\n   \"{{payload.col6}}\",\n   \"{{payload.col7}}\",\n   \"{{payload.col8}}\",\n   \"{{payload.col9}}\",\n   \"{{payload.col10}}\",\n   \"{{payload.col11}}\",\n   \"{{payload.col12}}\",\n   \"{{payload.col13}}\",\n   \"{{payload.col14}}\",\n   \"{{payload.col15}}\",\n   \"{{payload.col16}}\",\n   \"{{payload.col17}}\",\n   \"{{payload.col18}}\",\n   \"{{payload.col19}}\",\n   \"{{payload.col20}}\",\n   \"{{payload.col21}}\",\n   \"{{payload.col22}}\",    \n   \"{{timestamp}}\"\n);",
        "output": "str",
        "x": 570,
        "y": 440,
        "wires": [
            [
                "1ca263e24256997d",
                "ed4656f8453d4a1b"
            ]
        ]
    },
    {
        "id": "1ca263e24256997d",
        "type": "debug",
        "z": "65e4cc568d352a50",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "ed4656f8453d4a1b",
        "type": "sqlite",
        "z": "65e4cc568d352a50",
        "mydb": "98a3f5798948f0b7",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "city_001--citydata",
        "x": 790,
        "y": 440,
        "wires": [
            [
                "a9955606a34bc5f5"
            ]
        ]
    },
    {
        "id": "a9955606a34bc5f5",
        "type": "debug",
        "z": "65e4cc568d352a50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 500,
        "wires": []
    },
    {
        "id": "85d3f6c951ef4185",
        "type": "comment",
        "z": "65e4cc568d352a50",
        "name": "Arduino Nano 33 Iot Version",
        "info": "",
        "x": 340,
        "y": 360,
        "wires": []
    },
    {
        "id": "b28dd0f42a9ff1d6",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "98a3f5798948f0b7",
        "type": "sqlitedb",
        "db": "D:\\Development\\GIT\\FunkySense\\sqlite\\city_001.sqlite3",
        "mode": "RWC"
    }
]